body{
    margin: 0;
    padding-left: 17rem;
}

/* MENU LATERAL */
.sidebar-show{
    position: fixed;
    top: 0;
    left: 0;
    width:17rem;
    height: 100vh;
    z-index: 999;
    background: white;
    border-right:1px solid #CACACA;
    transition: all 0.3s;
    overflow: auto;
}

.sidebar-hide{
    left: -17rem;
}

.btn-sidebar-s1{
    position:absolute;
    right: 10px;
    cursor:pointer;
    color: #F43300;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

.btn-sidebar-s2{
    right: 10px;
}

#menu-back{
    position:absolute;
    left: 10px;
    cursor:pointer;
    color: #F43300;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

#slide-menu, #menu-back{
    display: none;
}

#logo-menu{
    display: none;
}

#menu-lateral-logo{
    width:214px;
    margin-top:16px;
    margin-left:17px;
}

#usuario-foto{
    position: absolute;
    top:93px;
    left: 22px;
}

#usuario-nome{
    position: absolute;
    top:100px;
    left: 93px;
}

#opcoes-menu{
    position: absolute;
    top:188px;
    left: 22px;
}

.menu-item{
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2C3131;
}

.menu-item-active{
    color:#F43300;
}

.menu-item a,.menu-item a:visited{
    cursor: pointer;
    margin-left:18px;
}

.menu-item:hover{
    color:#F43300;
}

/* CONTEÚDO DA PÁGINA*/

#conteudo{
    position: relative;
    width:100%;
    top:0;
    right:0;
    min-height:100vh;
    padding: 0;
    margin-right: 0;
}

#menu-conteudo{
    width:100%;
    min-height: 72px;
    background: #F43300;
    padding: 20px;
    transition: all 0.2s ease-in-out;

}

#menu-conteudo button,#menu-conteudo input,#menu-conteudo i{
    float: right;
}

#btn-mentorar{    
    width:200px;
    height: 35px;
    top: 15px;
    right: 20px;
    margin-left: 15px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FE4400;
}

#btn-login{    
    width:60px;
    height: 35px;
    top: 15px;
    right: 20px;
    margin-left: 15px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FE4400;
}

#buscar-mentor{
    width: 354px;
    height: 36px;
    left: calc(50% - 354px/2 + 247px);
    top: calc(50% - 36px/2 - 713.5px);
    background: rgba(250, 250, 250, 0.93);
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

#buscar-mentor::placeholder{
    font-size: 14px;
}

#notificacoes{
    color: #fff;
    margin: 16px;
}

#exibir{
    width: 100%;
    height: 100%;
}

@media (max-width:1100px){
    .sidebar-show{
        left: -17rem;
    }

    .sidebar-hide{
        left: 0rem;
    }

    #slide-menu, #logo-menu, #menu-back{
        display: initial;
    }

    #buscar-mentor{
        width: 250px;
    }

    #menu-conteudo{
        display: flex;
        justify-content: center;
        background-color: #FFFFFF;
        border-bottom: 2px solid #F43300;
    }

    #btn-mentorar, #notificacoes, #buscar-mentor{
        display: none;
    }

    #conteudo{
        left: -17rem;
        width:100vw;
    }
}
