#sessoes-titulo{
    position: relative;
    top: 57px;
    left:30px;
    width: 390px; 
    height: 106px;   
    font-size: 44px;
    font-weight: 500;
}

#sessoes-subtitulo{
    position: relative;
    width: 750px;
    top: 46px;
    left:30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}

.btn-menu{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #7E7E7E;    
    border: none;
    background: none;
    margin-right: 64px;
}

.btn-menu-active{
    color:#F43300;
    font-weight: 700;
}

#sessoes-info-menu .active{
    font-weight: 800;
    color: #FE4400;    
}

#sessoes-info{
    position: relative;
    width: 750px;
    left: 0px;
    top:100px;
    display: flex;
    left: 30px;
    justify-content: left;
    align-items: c;
    flex-wrap: wrap;
}

#sessoes-info-menu{
    width: 750px;
}

#sessoes-futuras{
    position: absolute;
    top: 70px;
    width: 750px;
    height: 100px;
}

#sessoes-passadas{
    position: absolute;
    top: 70px;
    width: 750px;
    height: 100px;
}

#sessoes-canceladas{
    position: absolute;
    top: 70px;
    width: 750px;
    height: 100px;
}

.sessao-card{
    width: 544px;
    height: 149px;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 16px;
}

#sessao-card-titulo{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
}

#sessao-card-info{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    color: #2C3131;
}

#sessao-card-menu{
    position: relative;
    top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
}

.btn-sessao-agendada{
    width: 110px;
    height: 31px;
    padding: 3px;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right:16px;
    box-sizing: border-box;
}

#btn-participar{
    background-color: #FE4400;
    color: #FFFFFF;
}
#btn-remarcar{
    background-color: #36357E;
    color: #FFFFFF;
}
#btn-cancelar{
    background-color: #FFFFFF;
    border: 1px solid #FE4400;
    color: #FE4400;
}

#btn-participar:hover{
    background-color: #fe662e;
}

#btn-participar:active{
    background-color: #dd3b00;
}

#btn-remarcar:hover{
    background-color: #4c4ba3;
}

#btn-remarcar:active{
    background-color: #2e2d64;
}

@media (max-width:1000px){
    #sessoes-subtitulo{
        width: 540px;    
        text-align: justify;
    }
}

@media (max-width:500px){
    #sessoes-titulo{
        font-size: 28px;
        left: 17px;
    }

    #sessoes-futuras,#sessoes-passadas,#sessoes-canceladas, #sessoes-info{
        width: 300px;
    }
    #sessoes-subtitulo{
        width: 330px;
        font-size: 16px;
        font-weight: 300;
        left: 17px;
    }
    .sessao-card{
        width: 328px;
        height: 163px;
        padding: 24px;
        left: 17px;
    }
    
    #sessao-card-titulo{
        font-size: 18px;
    }
    
    #sessao-card-info{
        font-size: 12px;
    }    

    .btn-sessao-agendada{
        width: 88px;
        height: 31px;
        padding: 3px;
        margin-right:2px;
    }

    .btn-menu{
        font-style: normal;
        font-weight: 500;
        font-size: 18px; 
        margin-right: 10px;
        padding: 0px;
    }

    #sessoes-info{
        left:17px;
    }
}
