
@import url('http://fonts.cdnfonts.com/css/lato?styles=17388,17383,17386,17381,17379');
/*  HEADING: font-family: 'Lato', sans-serif;*/

@import url('http://fonts.cdnfonts.com/css/montserrat?styles=17402,17405,17395,17398,17400,17403,17391,17393,17389');
/*  BODY: font-family: 'Montserrat', sans-serif;*/

                

body{   
    display: flex;
    flex-direction: column;
}

::placeholder {
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', sans-serif; 
}

*{
    font-family: 'Montserrat', sans-serif;
}

/*PAGINA INICIAL--------------------------------------*/
/*MENU SUPERIOR*/
#navbar{
    position: fixed;
    display: flex;
    width: 100vw;  
    background: rgb(254, 68, 0);
    height: 60px;
    justify-content: center;
    align-items: center;
    border-right:2px solid rgb(43, 43, 43) ;   
    z-index: 500; 
}

#navbar select {
    margin-left:50px ;
}

.logo{
    position: absolute;
    left:20px;
    padding: 0px;
}

.menu{
    width: 300px;
    display: flex;
    position: absolute;
    left: 250px;
}

.itemMenu{
    color: rgb(223, 223, 223);
    padding: 15px 5px 0px 5px;
    transition: all .3s ease-in-out;
    font-size: 14px;    
    font-weight: 600;
}

.itemMenu:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 600;
}

.regLog a:link, a:visited{
    margin-left: 15px;
    background-color: aliceblue;
    border-radius:5px ;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 400;
    color:rgb(254, 68, 0);
    vertical-align: middle;
    cursor: pointer;
}

.regLog a:hover{
    text-decoration: none;
    color:rgb(254, 68, 0) ;
    background-color:rgb(255, 228, 218);
}

.infoUsuario, .regLog{
    position:absolute;
    display: flex;
    width:200px;
    height:30px;
    right:15px;
    padding-right: 10px;
    color: #fff;
}
.infoUsuario i:hover{
    cursor: pointer;
}

/*  BUSCA   */
#busca{
    position: relative;
    top: 60px;
    width: 100vw;
    height: 80px;
}


/*  CONTEÚDO    */
.content{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: stretch;
}

.chat{
    background-color: green;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 1px 6px #888;
    transition: all .2s;
}

.chat:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.chatScreen{
    display: none;
    position: fixed;
    bottom: 80px;
    right: 50px;
    width: 200px;
    height: 300px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
    background: #888;
    border-radius: 5px;
}

#main{
    width: 100vw;
    height: 100vh;
}

#info{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#divMentor{
    background-color: rgb(95, 95, 95); 
    border-radius: 3px;
    box-shadow: 2px 2px 5px #000;
    color: white; 
    min-width: 250px; 
    min-height: 200px; 
    margin:15px; 
    font-size:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;  
}

#divMentor:hover{
    transform: scale(1.02) ;
    cursor: pointer;
}


/*  RESPONSIVIDADE  */
@media (max-width: 1000px) {
    #navbar input{
        width: 40px;
    }   
}

@media (max-width:600px) {
    #info{
        flex-direction: column;
    } 
    
    #divMentor{
        padding: 0;
    }         
}



