#infoMentor{
    width: 800px;
    position: relative;
    top: 56px;
    left:40px
}

#avatarMentor{
    border-radius: 100%;
    width: 160px;
}

#nomeMentor{
    position: absolute;
    top:0px;
    left:182px;
    font-weight:500;
    font-size: 36px;
}

#cargoMentor{
    position: absolute;
    top:52px;
    left:182px;
    font-weight: 500;
    font-size:24px;
    color: #FE4400;
}

#bioMentor{
    position: absolute;
    top:308px;
    width: 640px;
    font-weight: 300;
    font-size: 20px;
}	

#especMentor, #educaMentor{
    position: absolute;
    width: 447px;
    height: 65px;
    background: #C4C4C4;
}

#especMentor{
    top:584px;
}

#educaMentor{
    top:719px;
}

#horarioMentor{}

#txtExp{
    position: absolute;
    top:524px;
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
}

#txtEduc{
    position: absolute;
    top:632px;
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
}

#btnSessao{
    position: absolute;
    top:308px;
    left:672px;
    width: 448px;
    height: 92px;
    background-color: #CACACA;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
}