#infoMentor{
    width: 800px;
    position: relative;
    top: 56px;
    left:40px;
}

#avatarMentor{
    border-radius: 100%;
    width: 160px;
}

#nomeMentor{
    position: absolute;
    top:0px;
    left:182px;
    font-weight:500;
    font-size: 36px;
}

#cargoMentor{
    position: absolute;
    top:52px;
    left:182px;
    font-weight: 500;
    font-size:24px;
    color: #FE4400;
}

#bioMentor{
    position: absolute;
    top:308px;
    width: 594px;
    font-weight: 300;
    font-size: 20px;
}	

#formMentor{
    position: relative;
    top: 329px;
    height: 400px;
}

#txtExp{
}

#especMentor{
    top: 68px;
}

#txtEduc{
    top: 173px;
}

#educaMentor{
    top: 231px;
}

#especMentor, #educaMentor{
    position: absolute;
    width: 447px;
    height: 65px;
    background: #fff;
    border: 1px solid #CACACA;
    border-radius: 5px;
    padding: 15px;
}

#txtExp, #txtEduc{
    position: absolute;
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
}

#horarioMentor{}

#btnSessao{
    position: absolute;
    top:396px;
    left:664px;
    width: 346px;
    height: 48px;
    background-color: #FE4400;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}