a:link,a:visited, a:link:hover, a:visited:hover{
    text-decoration: none;
    color:rgb(254, 68, 0);
}

/*  STYLE CADASTRO e LOGIN  */
.bodyCadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Futura Lt BT', sans-serif;
}

.lateral{
    background-image: url('/assets/images/Group_137.svg');
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(235, 235, 235);
    padding: 0;
    margin: 0;
}

.formCadastro, .formLogin{
    width: 40%;
    height: 100vh;
    margin: auto 80px auto 80px; 
    padding-top: 30px;  
    background-color: white;
}

.logoForm{
    position: absolute;
    top: 120px;
    width: 214px;
}
#linhaLogo{
    display: none;
    position: absolute;
    top: 56px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #FEBBA2;
}

#form{
    position: absolute;
    top: 200px;
    width: 400px;
}

.cadTitulo{
    font-weight: 500;
    font-size: 44px;
    line-height: 52.8px;
}
.cadSubTitulo{
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 14px;
}

.formLabel{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}

.input-form{
    width: 400px;
    height:32px;
    padding-left: 15px;
    font-size: 12px;
    margin-bottom: 15px;
    border: 1px solid #CACACA;
    border-radius: 8px;
}

.lblCadastro{
    font-weight: 300;
    font-size: 12px;
    line-height: 160%;
}

.btn-form{
    background-color: rgb(254, 68, 0);
    width: 400px;
    height: 34px;
    border: none ;
    border-radius: 8px;
    color:white;
    margin: 10px 0 10px 0;

}

.cadTitulo,
.cadSubTitulo,
.img-cadastro,
.logo-cadastro,
.input-form{
    transition: all .2s ease-in-out;
}

/*  RESPONSIVIDADE */
@media (max-width:1100px) {
    .input-form{
        width: 300px;
        margin-bottom: 5px;
    }
    .btn-form{
        width: 300px;
    }
    .cadTitulo{
        font-size: 30px;
    }
    .cadSubTitulo{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .formCadastro, .formLogin{
        margin: auto 30px auto 30px;
    }
}

@media (max-width:800px){
    .bodyCadastro{
        flex-direction: column;
    }
    .lateral{
        display: none;
    }
    #form{
        top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logoForm{
        position: absolute;
        top: 10px;
        width: 170px;
    }    
    #linhaLogo{
        display: initial;
    }
    .input-form{
        margin-bottom: 15px;
    }
    #form,.btn-form,.input-form{
        width: 330px;
    }    
    .text_login{
        display: none;
    }
    .formCadastro, .formLogin{
        width: 100vw;
        display: flex;
        justify-content: center;
    }     
}

@media (max-width:550px) {
    #form, .input-form, .btn-form{
        width: 300px;
    }
    .cadTitulo{
        width: 170px;
        line-height: normal;
    }
    .input-form{
        margin-bottom: 15px;
    }
}

@media (max-height:650px) {
    .logoForm{
        width: 180px;
        top:20px
    }
    #form{top: 60px;}

    .cadTitulo{
        font-size: 30px;
        margin-bottom: 0;
    }
    .cadSubTitulo{
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

