a:link:hover, a:visited:hover{
    text-decoration: none;
    font-weight: bold;
    color:rgb(254, 68, 0);
}

/*  STYLE CADASTRO e LOGIN  */
.bodyCadastro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Futura Lt BT', sans-serif;
}

.lateral{
    background-color: rgb(254, 68, 0);
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(235, 235, 235);
    padding: 0;
    margin: 0;
}

.formCadastro, .formLogin{
    width: 40%;
    height: 100vh;
    margin: auto 80px auto 80px; 
    padding-top: 30px;  
    background-color: white;
}

.img-cadastro, .logo-cadastro{
    width: 300px;
    transition: all .5s ease-in-out;
}

.linkVoltar{
    color: #000;
}

a:link{
    text-decoration: none;
}

.cadTitulo{
    font-weight: 400;
}
.cadSubTitulo{
    margin-bottom: 25px;
    font-weight: 300;
}

.input-form{
    font-size: 12px;
    padding:16px, 24px, 16px, 24px;
    height: 56px;
    margin-bottom: 20px;
}

.lblCadastro{
    font-size: 13px;
}

.cadTitulo,
.cadSubTitulo,
.img-cadastro,
.logo-cadastro,
.input-form{
    transition: all .2s ease-in-out;
}


/*  RESPONSIVIDADE */
@media (max-width:1100px) {
    .img-cadastro,.logo-cadastro{
        width: 200px;
    }
    .cadTitulo{
        font-size: 18px;
    }
    .cadSubTitulo{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .formCadastro, .formLogin{
        margin: auto 30px auto 30px;
    }
}

@media (max-width:680px){
    .bodyCadastro{
        flex-direction: column;
    }
    .logo-cadastro{
        width: 150px;
    }
    .lateral{
        width: 100vw;
        height: 60px;
    }
    .img-cadastro{
        display: none;
    }
    .text_login{
        display: none;
    }
    .formCadastro, .formLogin{
        width: 100vw;
        padding: 50px 30px 50px 30px;
    }     
}


@media (max-height:600px) {
    .cadTitulo{
        font-size: 18px;
    }
    .cadSubTitulo{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .input-form{
        height: 45px;
        margin-bottom: 10px;
    }
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

